spring:
  server:
    port: 8080
  datasource:
    #url: jdbc:h2:mem:testdb
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql:///postgres
    username: postgres
    password: areader
    hikari:
      data-source-properties:
        socketFactory: com.google.cloud.sql.postgres.SocketFactory
        cloudSqlInstance: areader-399020:southamerica-east1:areaderdb

  jpa:
    hibernate:
      ddl-auto: update
    properties:
     hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      max-file-size: 15MB
      max-request-size: 15MB