spring:
  server:
    port: 8080
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:test
  servlet:
    multipart:
      max-file-size: 15MB
      max-request-size: 15MB
  security:
    user:
      name: test
      password: test
      roles: ADMIN