spring:
  datasource:
    url: jdbc:postgresql://dpg-ckmhj5av7m0s739v85dg-a.oregon-postgres.render.com/db_tfd3
    username: areader
    password: xMrp3RM4p636pzEp53r6xQFnxI4YnaLE
  jpa:
    hibernate:
      ddl-auto: update
  servlet:
    multipart:
      max-file-size: 15MB
      max-request-size: 15MB
  server:
    port: 8080