spring:
  datasource:
    url: postgresql://postgres:iPX9Xen8wTcG2KIcSDl8@containers-us-west-53.railway.app:7003/railway
    username: postgres
    password: iPX9Xen8wTcG2KIcSDl8
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 2MB
  mvc:
    dispatch-options-request: true