spring:


  cloud:
    gcp:
      sql:
        database-name: areader-backend
        instance-connection-name: areader-399020:southamerica-east1:areaderdb
    #credentials:
      #location: file:src//main//resources//areader-399020-ec5a3dd20423.json
  datasource:
    username: postgres
    password: areader
    driver-class-name: org.postgresql.Driver

    continue-on-error: true
  sql.init.mode: always

  jpa:
    hibernate:
      ddl-auto: update
    properties:
     hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect

  servlet:
    multipart:
      max-file-size: 15MB
      max-request-size: 15MB
